Repository Aire-One/labtime: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, dockerfile, renovate

.woodpecker/lint.yaml:

---
when:
  event: pull_request

steps:
  woodpecker:
    image: woodpeckerci/woodpecker-cli:v3.8.0-alpine
    commands:
      - woodpecker-cli lint --plugins-privileged="woodpeckerci/plugin-docker-buildx" .woodpecker/*.yaml
    when:
      path: .woodpecker/**/*.yaml
    depends_on: []

  dockerfile:
    image: ghcr.io/hadolint/hadolint:v2.12.0
    when:
      path:
        - Dockerfile
    depends_on: []

  cspell:
    image: ghcr.io/streetsidesoftware/cspell:9.0.1
    commands:
      - /usr/local/bin/cspell-cli lint .
    depends_on: []

  golangci-lint:
    image: golangci/golangci-lint:v2.2.2
    commands:
      - golangci-lint run --timeout 15m
    depends_on: []

  renovate:
    image: renovate/renovate:41.40.0
    commands:
      - renovate-config-validator --strict
    when:
      path:
        - renovate.json
        - .woodpecker/lint.yaml
    depends_on: []

🎉 Release 0.1.0
  CHANGELOG.md
Due: none

chore(deps): update ghcr.io/streetsidesoftware/cspell docker tag to v9.2.0
  .woodpecker/lint.yaml
  Makefile
Due: woodpecker, renovate

chore(deps): update golangci-lint to v2.3.0
  .devcontainer/devcontainer.json
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(renovate): add automerge configuration for renovate packages
  renovate.json
Due: renovate

chore(release-config): add detailed change types for release notes
  release-config.ts
Due: none

chore(release-config): update config
  release-config.ts
Due: none

chore(cspell): update configuration and add missing words
  .cspell.json
Due: none

chore(deps): update golang to v1.24.5
  .devcontainer/devcontainer.json
  .woodpecker/test.yaml
  Dockerfile
  go.mod
Due: woodpecker, dockerfile

chore(deps): update renovate/renovate docker tag to v41.43.0
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(cspell): add missing words
  .cspell.json
Due: none

chore(deps): update renovate/renovate docker tag to v41.43.2
  .woodpecker/lint.yaml
Due: woodpecker, renovate

🎉 Release 0.1.1
  CHANGELOG.md
Due: none

chore: remove release-helper configuration file
  release-config.ts
Due: none

chore(deps): update renovate/renovate docker tag to v41.43.3
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update renovate/renovate docker tag to v41.43.5
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore: add labels to renovate configuration
  renovate.json
Due: renovate

chore: add yamllint
  .devcontainer/devcontainer.json
  .golangci.yaml
  .woodpecker/lint.yaml
  .woodpecker/test.yaml
  .yamllint.yaml
  Makefile
  configs/example-stack/grafana-provisioning/dashboards/default.yaml
  configs/example-stack/grafana-provisioning/datasources/default.yaml
  configs/example-stack/prometheus-data/prometheus.yaml
Due: woodpecker, renovate

refactor(app): parameterize flags
  cmd/labtime/main.go
  internal/apps/labtime/app.go
  internal/apps/labtime/app_test.go
  internal/apps/labtime/flag.go
  internal/apps/labtime/flag_test.go
Due: none

feat(generator): implement YAML schema generation
  .cspell.json
  Makefile
  cmd/generator/main.go
  go.mod
  go.sum
  internal/apps/generator/flag.go
  internal/apps/generator/generator.go
  internal/monitors/dockermonitor_test.go
  internal/monitors/httpmonitor_test.go
  internal/monitors/tlsmonitor_test.go
  internal/yamlconfig/yamlconfig.go
Due: none

chore: generate labtime-configuration-schema.json
  labtime-configuration-schema.json
Due: none

refactor: manage monitors defaults values
  internal/monitors/dockermonitor.go
  internal/monitors/dockermonitor_test.go
  internal/monitors/httpmonitor.go
  internal/monitors/httpmonitor_test.go
  internal/monitors/tlsmonitor.go
  internal/monitors/tlsmonitor_test.go
  internal/yamlconfig/yamlconfig.go
Due: none

ci(test): add "generate yaml schema" step
  .woodpecker/test.yaml
  labtime-configuration-schema.json
Due: woodpecker

chore(example): add schema reference
  configs/example-config.yaml
Due: none

refactor(yamlconfig): create proper DTOs
  internal/monitors/dockermonitor_test.go
  internal/monitors/httpmonitor_test.go
  internal/monitors/tlsmonitor_test.go
  internal/yamlconfig/docker_monitor_dto.go
  internal/yamlconfig/http_monitor_dto.go
  internal/yamlconfig/tls_monitor_dto.go
  internal/yamlconfig/yamlconfig.go
  labtime-configuration-schema.json
Due: none

🎉 Release 0.2.0
  CHANGELOG.md
Due: none

feat: environment variable support
  .cspell.json
  cmd/labtime/main.go
  go.mod
  go.sum
  internal/apps/labtime/flag.go
  internal/apps/labtime/flag_test.go
Due: none
