Repository Aire-One/labtime: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, dockerfile, renovate

.woodpecker/lint.yaml:

---
when:
  event: pull_request

steps:
  woodpecker:
    image: woodpeckerci/woodpecker-cli:v3.8.0-alpine
    commands:
      - woodpecker-cli
        lint
        --plugins-privileged="woodpeckerci/plugin-docker-buildx"
        .woodpecker/*.yaml
    when:
      path: .woodpecker/**/*.yaml
    depends_on: []

  dockerfile:
    image: ghcr.io/hadolint/hadolint:v2.12.0
    when:
      path:
        - Dockerfile
    depends_on: []

  cspell:
    image: ghcr.io/streetsidesoftware/cspell:9.2.0
    commands:
      - /usr/local/bin/cspell-cli lint .
    depends_on: []

  golangci-lint:
    image: golangci/golangci-lint:v2.3.0
    commands:
      - golangci-lint run --timeout 15m
    depends_on: []

  renovate:
    image: renovate/renovate:41.43.7
    commands:
      - renovate-config-validator --strict
    when:
      path:
        - renovate.json
        - .woodpecker/lint.yaml
    depends_on: []

  yamllint:
    image: python:3.13.5-alpine3.22
    commands:
      - pip install yamllint
      - yamllint --strict .
    depends_on: []

🎉 Release 0.5.0
  CHANGELOG.md
Due: none

chore(deps): update renovate/renovate docker tag to v41.60.1
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(renovate): add Golang portUpdateOptions
  .cspell.json
  renovate.json
Due: renovate

chore(deps): update renovate/renovate docker tag to v41.60.3
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update module github.com/docker/docker to v28.3.3+incompatible
  go.mod
  go.sum
Due: none

chore(deps): update module github.com/prometheus/client_golang to v1.23.0
  go.mod
  go.sum
Due: none

chore(deps): update renovate/renovate docker tag to v41.61.0
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update renovate/renovate docker tag to v41.62.3
  .woodpecker/lint.yaml
Due: woodpecker, renovate

ci(lint): pin renovate to the major version only
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(renovate): remove automerge for renovate
  renovate.json
Due: renovate

ci(lint): always run as much step as possible
  .woodpecker/lint.yaml
Due: woodpecker, renovate

ci(docker): update branch and event conditions
  .woodpecker/docker.yaml
Due: woodpecker

chore(deps): update actions/checkout action to v5
  .github/workflows/docker.yaml
Due: none

docs(README): move URLs to GitHub hosted ones
  README.md
Due: none

docs: pre-publication README
  README.md
  assets/grafana-demo.png
  configs/example-config.yaml
Due: none

chore: add markdownlint tool
  .devcontainer/devcontainer.json
  Makefile
Due: none

ci(lint): add markdownlint step
  .woodpecker/lint.yaml
Due: woodpecker, renovate

docs(README): update Makefile targets list
  README.md
Due: none

fix: markdownlint
  .markdownlint-cli2.yaml
  README.md
  configs/example-stack/README.md
Due: none

ci(docker): fix action pinned version number
  .github/workflows/docker.yaml
Due: none

docs(README): add architecture diagram
  .cspell.json
  README.md
Due: none

chore(devcontainer): add Mermaid chart extension
  .devcontainer/devcontainer.json
Due: none

chore(deps): update python docker tag to v3.13.6
  .woodpecker/lint.yaml
Due: woodpecker, renovate

ci(docker): fix woodpecker missing tag event
  .woodpecker/docker.yaml
Due: woodpecker

🎉 Release 0.5.1
  CHANGELOG.md
Due: none
