Repository Aire-One/labtime: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, dockerfile

.woodpecker/lint.yaml:

---
when:
  event: pull_request

steps:
  woodpecker:
    image: woodpeckerci/woodpecker-cli:v2.7.1-alpine
    commands:
      - woodpecker-cli lint .woodpecker/*.yaml
    when:
      path: .woodpecker/**/*.yaml
    depends_on: []

  dockerfile:
    image: ghcr.io/hadolint/hadolint:v2.12.0
    when:
      path:
        - Dockerfile
    depends_on: []

  cspell:
    image: ghcr.io/streetsidesoftware/cspell:8.15.4
    commands:
      - /usr/local/bin/cspell-cli lint .
    depends_on: []

  golangci-lint:
    image: golangci/golangci-lint:v1.61.0
    commands:
      - golangci-lint run --timeout 15m
    depends_on: []

chore(deps): update module github.com/go-co-op/gocron/v2 to v2.12.3
  go.mod
  go.sum
Due: none

chore(deps): update woodpeckerci/woodpecker-cli docker tag to v2.7.2
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update woodpeckerci/woodpecker-cli docker tag to v2.7.3
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update golang docker tag to v1.23.3
  .woodpecker/test.yaml
  Dockerfile
Due: woodpecker, dockerfile

chore(deps): update ghcr.io/streetsidesoftware/cspell docker tag to v8.16.0
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update golangci/golangci-lint docker tag to v1.62.0
  .woodpecker/lint.yaml
Due: woodpecker

ci(release-helper): disable workflow for now
  .woodpecker/release-helper.yaml
  .woodpecker/release-helper.yaml.dontusenow
Due: woodpecker

chore(deps): update woodpeckerci/plugin-docker-buildx docker tag to v5.1.0
  .woodpecker/build.yaml
Due: woodpecker

chore(deps): update ghcr.io/streetsidesoftware/cspell docker tag to v8.17.1
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update woodpeckerci/woodpecker-cli docker tag to v2.8.2
  .woodpecker/lint.yaml
Due: woodpecker

chore(devcontainer): initial support for devcontainer
  .devcontainer/devcontainer.json
Due: none

chore(make): add dev command
  Makefile
Due: none

chore(deps): update ghcr.io/streetsidesoftware/cspell docker tag to v8.17.5
  .woodpecker/lint.yaml
Due: woodpecker

chore(devcontainer): add editorconfig extension
  .devcontainer/devcontainer.json
Due: none

chore: enable DiD and configure demo stack
  .cspell.json
  .devcontainer/devcontainer.json
  configs/example-stack/compose.yaml
  configs/example-stack/grafana-provisioning/dashboards/default.yaml
  configs/example-stack/grafana-provisioning/dashboards/labtime.json
  configs/example-stack/grafana-provisioning/datasources/default.yaml
Due: none

doc(demo): update demo README
  .cspell.json
  .devcontainer/devcontainer.json
  Makefile
  configs/example-stack/README.md
Due: none

chore(demo): less aggressive Labtime config
  configs/example-config.yaml
Due: none

chore(deps): update module github.com/go-co-op/gocron/v2 to v2.16.0
  go.mod
  go.sum
Due: none

chore(deps): update golangci/golangci-lint docker tag to v1.64.6
  .woodpecker/lint.yaml
Due: woodpecker

chore(renovate): make all Go updates at once
  .cspell.json
  renovate.json
Due: none

feat(monitors): add TLS certificate monitoring
  configs/example-config.yaml
  configs/example-stack/grafana-provisioning/dashboards/labtime.json
  go.mod
  go.sum
  internal/apps/labtime/app.go
  internal/monitors/tlsmonitor.go
  internal/scheduler/scheduler.go
  internal/yamlconfig/yamlconfig.go
Due: none

fix(yamlconfig): lower TLSMonitor default interval
  internal/yamlconfig/yamlconfig.go
Due: none

chore(deps): update golang to v1.24.1
  .woodpecker/test.yaml
  Dockerfile
  go.mod
Due: woodpecker, dockerfile

feat(monitors): make HTTPMonitor track status code
  configs/example-stack/grafana-provisioning/dashboards/labtime.json
  internal/apps/labtime/app.go
  internal/monitors/httpmonitor.go
Due: none

chore(yamlconfig): update HTTPMonitor config
  configs/example-config.yaml
  internal/apps/labtime/app.go
  internal/yamlconfig/yamlconfig.go
Due: none

chore(devcontainer): update Go image to version 1.24
  .devcontainer/devcontainer.json
Due: none

chore(deps): update module github.com/prometheus/client_golang to v1.21.1
  go.mod
  go.sum
Due: none

chore(deps): update golangci/golangci-lint docker tag to v1.64.7
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update module github.com/go-co-op/gocron/v2 to v2.16.1
  go.mod
  go.sum
Due: none

chore(deps): update golangci/golangci-lint docker tag to v1.64.8
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update ghcr.io/devcontainers/features/docker-in-docker docker tag to v2.12.2
  .devcontainer/devcontainer.json
Due: none

chore(deps): update module github.com/prometheus/client_golang to v1.22.0
  go.mod
  go.sum
Due: none

chore(linter): replace tenv by usetesting #52
  .golangci.yaml
Due: none

chore(deps): update ghcr.io/streetsidesoftware/cspell docker tag to v9
  .woodpecker/lint.yaml
Due: woodpecker

chore(deps): update golang to v1.24.4
  .woodpecker/test.yaml
  Dockerfile
  go.mod
Due: woodpecker, dockerfile

chore(deps): update woodpeckerci/plugin-docker-buildx docker tag to v6
  .woodpecker/build.yaml
Due: woodpecker

chore(deps): update woodpeckerci/woodpecker-cli docker tag to v3
  .woodpecker/lint.yaml
Due: woodpecker

ci(lint): add woodpeckerci/plugin-docker-buildx to privileged plugins
  .woodpecker/lint.yaml
Due: woodpecker

ci(build): update registry and repo to forgejo
  .cspell.json
  .woodpecker/build.yaml
Due: woodpecker

ci(release-helper): add release helper workflow
  .woodpecker/release-helper.yaml
  .woodpecker/release-helper.yaml.dontusenow
Due: woodpecker
