Repository Aire-One/labtime: changes, and which Woodpecker steps are due for each by the changed paths.
All: woodpecker, dockerfile, renovate

.woodpecker/lint.yaml:

---
when:
  event: pull_request

steps:
  woodpecker:
    image: woodpeckerci/woodpecker-cli:v3.8.0-alpine
    commands:
      - woodpecker-cli lint --plugins-privileged="woodpeckerci/plugin-docker-buildx" .woodpecker/*.yaml
    when:
      path: .woodpecker/**/*.yaml
    depends_on: []

  dockerfile:
    image: ghcr.io/hadolint/hadolint:v2.12.0
    when:
      path:
        - Dockerfile
    depends_on: []

  cspell:
    image: ghcr.io/streetsidesoftware/cspell:9.0.1
    commands:
      - /usr/local/bin/cspell-cli lint .
    depends_on: []

  golangci-lint:
    image: golangci/golangci-lint:v2.2.2
    commands:
      - golangci-lint run --timeout 15m
    depends_on: []

  renovate:
    image: renovate/renovate:41.40.0
    commands:
      - renovate-config-validator --strict
    when:
      path:
        - renovate.json
        - .woodpecker/lint.yaml
    depends_on: []

🎉 Release 0.2.0
  CHANGELOG.md
Due: none

chore(deps): update renovate/renovate docker tag to v41.43.7
  .woodpecker/lint.yaml
Due: woodpecker, renovate

🎉 Release 0.2.1
  CHANGELOG.md
Due: none

chore(ci): try release-helper next for auto tag and release on Gitea/Forgejo
  .woodpecker/release-helper.yaml
Due: woodpecker

chore(deps): update renovate/renovate docker tag to v41.46.3
  .woodpecker/lint.yaml
Due: woodpecker, renovate

🎉 Release 0.2.2
  CHANGELOG.md
Due: none

chore(deps): update renovate/renovate docker tag to v41.46.6
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update renovate/renovate docker tag to v41.51.0
  .woodpecker/lint.yaml
Due: woodpecker, renovate

test(monitorconfig): add test
  internal/monitorconfig/monitorconfig_test.go
Due: none

feat(httpmonitor): add HTTP method configuration and validation
  internal/monitorconfig/monitorconfig.go
  internal/monitors/dockermonitor.go
  internal/monitors/dockermonitor_test.go
  internal/monitors/httpmonitor.go
  internal/monitors/httpmonitor_test.go
  internal/monitors/monitor.go
  internal/monitors/tlsmonitor.go
  internal/monitors/tlsmonitor_test.go
  internal/yamlconfig/http_monitor_dto.go
  labtime-configuration-schema.json
Due: none

🎉 Release 0.3.0
  CHANGELOG.md
Due: none

chore(release-helper): add labels configuration
  .editorconfig
  release-config.ts
Due: none

chore(deps): update renovate/renovate docker tag to v41.51.1
  .woodpecker/lint.yaml
Due: woodpecker, renovate

🎉 Release 0.3.1
  CHANGELOG.md
Due: none

chore(deps): update renovate/renovate docker tag to v41.52.1
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update renovate/renovate docker tag to v41.53.1
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore(deps): update renovate/renovate docker tag to v41.58.2
  .woodpecker/lint.yaml
Due: woodpecker, renovate

chore: add initial GitHub Copilot instructions
  .github/copilot-instructions.md
  .vscode/settings.json
Due: none

ci: add docker build and publish GitHub Actions
  .github/workflows/docker.yaml
  .yamllint.yaml
Due: none

fix(actions,docker): tags label
  .github/workflows/docker.yaml
Due: none

fix(actions,docker): properly set step build id
  .github/workflows/docker.yaml
Due: none

🎉 Release 0.4.0
  CHANGELOG.md
Due: none

chore(Makefile): add `go mod tidy` targets
  Makefile
Due: none

ci(test): add 'tidy' step
  .woodpecker/test.yaml
Due: woodpecker

chore: go mod tidy
  go.mod
Due: none

🎉 Release 0.5.0
  CHANGELOG.md
Due: none

ci: rename build pipeline to docker
  .woodpecker/docker.yaml
Due: woodpecker

feat(makefile): add build-generator target
  Makefile
Due: none

feat(build): add initial build workflow
  .woodpecker/build.yaml
Due: woodpecker

chore(makefile): remove echo statements
  Makefile
Due: none
